[submodule "external/asio_standalone"]
	path = external/asio_standalone
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/StandardRTC"]
	path = external/StandardRTC
	url = https://github.com/VictorJL/StandardRTC.git
