[submodule "external/asio_standalone"]
	path = external/asio_standalone
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/StandardRTC"]
	path = external/StandardRTC
	url = https://github.com/VictorJL/StandardRTC.git
[submodule "external/messagepack"]
	path = external/messagepack
	url = https://github.com/msgpack/msgpack-c
[submodule "external/jeayeson"]
	path = external/jeayeson
	url = https://github.com/jeaye/jeayeson.git
[submodule "external/boost_modules/variant"]
	path = external/boost_modules/variant
	url = https://github.com/boostorg/variant.git
[submodule "external/boost_modules/algorithm"]
	path = external/boost_modules/algorithm
	url = https://github.com/boostorg/algorithm.git
[submodule "external/boost_modules/locale"]
	path = external/boost_modules/locale
	url = https://github.com/boostorg/locale.git
