[submodule "external/asio_standalone"]
	path = external/asio_standalone
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/StandardRTC"]
	path = external/StandardRTC
	url = https://github.com/VictorJL/StandardRTC.git
[submodule "external/messagepack"]
	path = external/messagepack
	url = https://github.com/msgpack/msgpack-c
[submodule "external/jeayeson"]
	path = external/jeayeson
	url = https://github.com/jeaye/jeayeson.git
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost.git
[submodule "external/jsoncons"]
	path = external/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/bulletphysics/bullet3
